.body1{
  height:100%;
  width: 100%;
  font-family:forte;
  background-image: url(../images/bld2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color:#fff;
}


h2{
  margin-top:120px;
  text-align: center;
  font-size: 70px;
  color:rgb(20, 9, 168);
  text-shadow: 1px  1px 1px rgb(202, 201, 201);
}

h1::after{
 width:180px;
  height:3px;
   background-color: #804d00;
     display: block;
    content:" ";
  margin:0 auto;
 visibility: visible;
 margin-bottom:20px;
margin-top:30px;
}


.col-sm-6{
  text-align: center;
  margin-top: 20px;
  display: inline-block;
}

.button button{
   margin:20px;
   padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  outline: none;
  border-radius: 10px;
  color: #fff;
  border: none;
  background-color: #000;
  box-shadow: 0 9px rgba(0, 0, 0, 0.473);
  text-align: center;
}

 .button button:hover{
  background-color: rgb(20, 9, 168);
  box-shadow: 0 7px rgba(20, 9, 168, 0.425);
  color:#fff;
}

.button button:active{
  border: none;
  border-radius: 20px;
  background-color: #000;
  box-shadow: 0 5px rgba(0, 0, 0, 0.473);
  text-align: center;
  color:#fff;
   transform: translateY(4px);
}


.footer{
  bottom: 0;
  font-size: 16px;
font-family:forte;
text-align: center;
}
